.photo-list{
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,calc(100%/3));
}

.photo-item{
    border: solid 1px black;
    width:100%;
    aspect-ratio: 1/1;
    object-fit: contain;
    background-color: gray;
    box-sizing: border-box;
}