@inherits LayoutComponentBase

<div>
    <div class="header">
        <div class="header-title">Title</div>
        <img class="header-icon" alt="icon" src="sample.jpg">
    </div>
    <main>
        <article>
            @Body
        </article>
    </main>
</div>
