@inherits LayoutComponentBase

<div>
    <div class="header">
        <div class="header-title">Title</div>
        <img class="header-icon" alt="icon" src="sample.jpg">
    </div>
    <main>
        <article>
            @Body
        </article>
    </main>
    <div class="footer">
        <div class="footer-content">
            <a class="link-menu" href="/">Time line</a>
            <div class="btn-outline">
                <button class="btn-add">+</button>
            </div>
            <a class="link-menu" href="/favorites">Favorites</a>
        </div>
    </div>
</div>
